@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Plus+Jakarta+Sans:wght@500&display=swap');

.title{
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    font-weight: 500;
    color: red;
}