<!DOCTYPE html>
<html>
<head>
    <title>Prenotazione Campo</title>
    <script src="../script/script.js"></script>
</head>
<body>
    <h1>Prenotazione Campo</h1>
    <form id="form" action="/addPrenotazione" method="post">
        <div>
            <p>Seleziona il campo:</p>
            <input type="radio" id="campo_a" name="campo" value="3">
            <label for="campo_a">Campo a 7</label>
            <input type="radio" id="campo_b" name="campo" value="1">
            <label for="campo_b">Campo a 6</label>
            <input type="radio" id="campo_c" name="campo" value="2">
            <label for="campo_c">Campo 5</label>
        </div>
        <div>
            <p>Seleziona la data:</p>
            <input type="date" id="data" name="data" onchange='console.log(document.getElementById("data").value)'>
        </div>
        <div>
            <p>Seleziona l'orario di inizio:</p>
            <input type="time" id="orario_inizio" name="orario_inizio">
        </div>

        <div>
            <p>Inserisci il cognome:</p>
            <input type="text" id="cognome" name="cognome" required>
        </div>

        <button type="submit">Prenota</button>
    </form>

</body>
</html>
